@import 'src/styles/variables';
@import 'src/styles/fonts';

.Listing {
  width: 100%;

  .photo {
    margin-bottom: 10px;

    .photo-inner {
      background-position: center;
      background-size: auto 100%;
      border-radius: 1%;

      .like-icon {
        position: absolute;
        top: 4%;
        right: 4%;
        width: 10%;
        height: 10%;

        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .summary {
    @extend .headline-3;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .price {
    @extend .headline-2;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .listDate {
    @extend .body-2;
    color: $grey-2;
  }
}
