@import 'src/styles/variables';

html, body {
  background: $primary-white;
}

.side-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $primary-white;

  .content {
    padding: 40px 60px;
    flex-grow: 1;
    overflow-y: auto;
  }
}
